* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  box-sizing: border-box;
  transition: 0.5s;
}

*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*::selection {
  color: white;
  background-color: #8e51ff;
}

span {
  display: inline-block;
}

img {
  width: 100%;
  display: block;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
  color: inherit;
}

.bg-row {
  background-color: #ede9fe;
}

.center {
  text-align: center;
}

.rad {
  border-radius: 20px 20px 0 0;
}

.container {
  padding-inline: 5%;
}

.contentHeading {
  text-align: center;
  padding: 0 15px;
  color: #333;
  margin-bottom: 80px;
}

.contentHeading h2 {
  font-size: 36px;
  margin-bottom: 22px;
}

.contentHeading h2 span {
  color: #8e51ff;
}

.contentHeading p {
  font-size: 20px;
  line-height: 28px;
}

.btn {
  text-align: center;
}

.btn button {
  background-color: #8e51ff;
  color: white;
  padding: 14px 35px;
  border: none;
  border-radius: 9999px;
  font-size: 18px;
  font-weight: 600;
  border: 2px solid transparent;
  margin-top: 20px;
  transition: 0.3s;
}

.btn button:hover {
  background-color: white;
  color: #8e51ff;
  border-color: #8e51ff;
}



/* Start Navbar */
.navbar {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  background-color: #f5f3ff;
  padding-block: 20px;
  border: 1px solid #e0d9ff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .logo {
  display: flex;
  align-items: center;
}

.navbar .logo .image {
  width: 40px;
  height: 40px;
  background-color: #8e51ff;
  border-radius: 7px;
  font-size: 18px;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.navbar .logo h3 {
  font-size: 24px;
  color: #333;
}

.navbar .links {
  display: none;
}
/* End Navbar */



/* Start sec1 */
#sec1 {
  padding-block: 165px 90px;
  min-height: 100vh;
  display: flex;
  flex-flow: column wrap;
  gap: 60px;
}

#sec1 .left {
  position: relative;
  width: 100%;
  padding: 20px;
  border-radius: 20px;
  border: 2px solid #e4e6ea;
}

#sec1 .left img {
  border-radius: 15px;
  height: 100%;
}

#sec1 .left span {
  position: absolute;
  top: 46px;
  left: 46px;
  background-color: #8e51ff;
  color: white;
  font-weight: 600;
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 14px;
}

#sec1 .right {
  width: 100%;
}

#sec1 .right .spans {
  margin-bottom: 16px;
}

#sec1 .right .spans span {
  color: white;
  margin-right: 9px;
  background-color: #a684ff;
  padding: 5px 10px;
  font-weight: 600;
  font-size: 14px;
  border-radius: 20px;
}

#sec1 .right h1 {
  font-size: 50px;
  color: #333;
}

#sec1 .right h1 span {
  color: #8e51ff;
}

#sec1 .right p.description {
  color: #333;
  line-height: 33px;
  font-size: 20px;
  margin-block: 16px 32px;
}

#sec1 .right .details {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 14px;
}

#sec1 .right .details span {
  color: #333;
  font-weight: 700;
}

#sec1 .right .details span.price-before {
  font-size: 36px;
}

#sec1 .right .details span.price-after {
  font-size: 24px;
  font-weight: 400;
  text-decoration: line-through;
}

#sec1 .right .details span.discount {
  font-size: 14px;
  color: #e7000b;
  font-weight: 700;
  padding: 4px 15px;
  border-radius: 25px;
  background-color: #ffe2e2;
}

#sec1 .right p.pay {
  margin-block: 20px 35px;
  color: #333;
}

#sec1 .right button {
  display: block;
  width: 100%;
  padding-block: 20px;
  font-size: 18px;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.3s;
}

#sec1 .right button i {
  margin-right: 8px;
}

#sec1 .right button:hover {
  transform: scale(1.03);
}

#sec1 .right button.top {
  margin-bottom: 16px;
  font-weight: 700;
  color: white;
  background-color: #8e51ff;
  border: none;
}

#sec1 .right button.bottom {
  font-weight: 600;
  color: #333;
  background-color: white;
  border: 2px solid #d1d5db;
}
/* End sec1 */



/* Start sec2 */
#sec2 {
  background-color: #f7f5ff;
  padding-block: 80px 68px;
}

#sec2 .tableContainer {
  overflow-x: auto;
  scrollbar-width: none;
}

#sec2 .tableContainer table {
  background-color: white;
  width: 1050px;
  border-spacing: 0;
  padding: 30px;
  border-radius: 20px;
  border: 2px solid #e0e1e9;
}

#sec2 .tableContainer table thead th {
  color: #333;
  border-bottom: 2px solid #dce0e5;
  padding: 30px;
}

#sec2 .tableContainer table thead th.head1 {
  text-align: left;
  padding: 25px 30px 25px 20px;
}

#sec2 .tableContainer table thead th.bg-row h3 {
  color: #7b13e7;
}

#sec2 .tableContainer table thead h3,
#sec2 .tableContainer table thead th.bg-row h3 {
  margin-bottom: 10px;
}

#sec2 .tableContainer table thead th.bg-row span {
  color: #9056ff;
}

#sec2 .tableContainer table thead th.bg-row span,
#sec2 .tableContainer table thead th span {
  font-weight: 400;
}

#sec2 .tableContainer table tbody tr td {
  padding: 20px 10px 20px 20px;
  border-bottom: 1px solid #dce0e5;
  font-weight: 500;
  color: #333;
}

#sec2 .tableContainer table tbody tr td#co-ora {
  color: #f86911;
}

#sec2 .tableContainer table tbody tr td.bg-row span {
  color: white;
  background-color: #8e51ff;
  padding: 5px 12px;
  border-radius: 20px;
}

#sec2 .tableContainer table tbody tr td p.bold {
  font-size: 20px;
  font-weight: 600;
}

#sec2 .tableContainer table tbody tr td.bg-row p {
  color: #7008e7;
  font-size: 24px;
  font-weight: 600;
}

#sec2 .tableContainer table tbody tr td span i,
#sec2 .tableContainer table tbody tr td p i {
  margin-right: 2px;
}

#sec2 .tableContainer table tbody tr td i.fa-video {
  color: #00b8db;
}

#sec2 .tableContainer table tbody tr td i.fa-camera {
  color: #00bba7;
}

#sec2 .tableContainer table tbody tr td i.fa-battery-full {
  color: #00c950;
}

#sec2 .tableContainer table tbody tr td i.fa-satellite-dish {
  color: #ff6900;
}

#sec2 .tableContainer table tbody tr td i.fa-gauge-high {
  color: #fb2c36;
}

#sec2 .tableContainer table tbody tr td i.fa-shield-halved {
  color: #00a6f4;
}

#sec2 .tableContainer table tbody tr td i.fa-scale-balanced {
  color: #615fff;
}

#sec2 .tableContainer table tbody tr td i.fa-cloud-rain {
  color: #2b7fff;
}

#sec2 .tableContainer table tbody tr td i.fa-dollar-sign {
  color: #f1b610;
}

#sec2 .tableContainer table tfoot tr td {
  padding: 30px;
  text-align: center;
}

#sec2 .tableContainer table tfoot tr td.rad {
  border-radius: 0 0 20px 20px;
}

#sec2 .tableContainer table tfoot tr td.foot1 {
  padding: 25px 25px 25px 5px;
  text-align: left;
  font-weight: 500;
  font-size: 17px;
}

#sec2 .tableContainer table tfoot tr td p {
  margin-bottom: 10px;
}

#sec2 .tableContainer table tfoot tr td p i {
  color: #fdc700;
}

#sec2 .tableContainer table tfoot tr td span {
  font-weight: 600;
}

#sec2 .foot {
  display: flex;
  justify-content: center;
  align-items: center;
}

#sec2 .foot .cardfooter {
  margin-top: 40px;
  background-color: white;
  padding: 20px 30px;
  border: 1px solid #eaecef;
  border-radius: 16px;
  display: flex;
  gap: 10px;
  align-items: center;
}

#sec2 .foot .cardfooter i {
  font-size: 22px;
  color: #00c950;
}

#sec2 .foot .cardfooter .contentfooter h4 {
  margin-bottom: 6px;
  font-size: 18px;
  color: #00a63e;
}

#sec2 .foot .cardfooter .contentfooter p {
  font-size: 14px;
  color: #00a63e;
}
/* End sec2 */



/* Start sec3 */
#sec3 {
  padding-block: 80px 68px;
}

#sec3 .flex {
  display: flex;
  gap: 50px;
  flex-flow: column wrap;
  margin-top: 50px;
}

#sec3 .flex .contentHeading {
  margin-bottom: 10px;
}

#sec3 .flex .leftContent,
#sec3 .flex .rightContent {
  width: 100%;
}

#sec3 .flex .leftContent .card {
  width: 100%;
  text-align: center;
  color: #333;
  padding: 30px 20px;
  border-radius: 25px;
  border: 2px solid #e5e7eb;
}

#sec3 .flex .leftContent .card h3 {
  font-size: 60px;
}

#sec3 .flex .leftContent .card p.stars {
  font-size: 20px;
  color: #fdc700;
  margin-bottom: 7px;
}

#sec3 .flex .leftContent .card > span {
  margin-bottom: 20px;
}

#sec3 .flex .leftContent .card .ranges {
  border-bottom: 1px solid #e2e5e9;
  padding-bottom: 10px;
}

#sec3 .flex .leftContent .card .ranges .range {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-block: 20px;
}

#sec3 .flex .leftContent .card .ranges .range .one{
  text-align: left;
}

#sec3 .flex .leftContent .card .ranges .range .three {
  text-align: right;
}

#sec3 .flex .leftContent .card .ranges .range .one,
#sec3 .flex .leftContent .card .ranges .range .three {
  width: 10%;
}

#sec3 .flex .leftContent .card .ranges .range .one,
#sec3 .flex .leftContent .card .ranges .range .three {
  font-size: 16px;
}

#sec3 .flex .leftContent .card .ranges .range .one i {
  font-size: 11px;
  margin-left: 3px;
}

#sec3 .flex .leftContent .card .ranges .range .two {
  width: 70%;
  height: 12px;
  background-color: #e5e7eb;
  border-radius: 9999px;
  position: relative;
  overflow: hidden;
}

#sec3 .flex .leftContent .card .ranges .range .two::after {
  content: "";
  position: absolute;
  border-radius: 9999px;
  background-color: #f0b100;
  width: 78%;
  inset-block: 0px;
  left: 0px;
}

#sec3 .flex .leftContent .card .ranges .range .two2::after {
  width: 15%;
}

#sec3 .flex .leftContent .card .ranges .range .two3::after {
  width: 5%;
}

#sec3 .flex .leftContent .card .ranges .range .two4::after {
  width: 1.5%;
}

#sec3 .flex .leftContent .card .ranges .range .two5::after {
  width: 0.5%;
}

#sec3 .flex .leftContent .card .foot {
  padding-top: 25px;
  color: #333;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#sec3 .flex .leftContent .card .foot div {
  width: 45%;
}

#sec3 .flex .leftContent .card .foot div h4 {
  font-size: 24px;
  margin-bottom: 3px;
}

#sec3 .flex .leftContent .card .foot div p {
  font-size: 14px;
}

#sec3 .flex .rightContent {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#sec3 .flex .rightContent .box {
  padding: 30px 20px 40px;
  border-radius: 25px;
  border: 2px solid #e5e7eb;
}

#sec3 .flex .rightContent .box .title {
  display: flex;
  justify-content: space-between;
}

#sec3 .flex .rightContent .box .title .left {
  position: relative;
  display: flex;
  align-items: center;
  gap: 20px;
}

#sec3 .flex .rightContent .box .title .left img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #9572bd;
}

#sec3 .flex .rightContent .box .title .left .content {
  color: #333;
}

#sec3 .flex .rightContent .box .title .left .content h4 {
  font-size: 18px;
  margin-bottom: 3px;
}

#sec3 .flex .rightContent .box .title .left .content p {
  line-height: 24px;
}

#sec3 .flex .rightContent .box .title .left .content .stars {
  margin-top: 5px;
}

#sec3 .flex .rightContent .box .title .left .content .stars span {
  font-size: 14px;
  margin-left: 2px;
}

#sec3 .flex .rightContent .box .title .left .content .stars i {
  font-size: 12px;
  color: #fdc700;
  margin-right: 1px;
}

#sec3 .flex .rightContent .box .title .right {
  float: right;
  text-align: right;
}

#sec3 .flex .rightContent .box .title .right span {
  color: #5d0ec0;
  background-color: #ede9fe;
  border-radius: 999px;
  font-size: 14px;
  padding: 1px 5px;
  margin-bottom: 3px;
}

#sec3 .flex .rightContent .box .title .right p {
  font-size: 15px;
}

#sec3 .flex .rightContent .box > p {
  font-size: 18px;
  color: #333;
  line-height: 29px;
  margin-top: 25px;
}
/* End sec3 */



/* Start sec4 */
#sec4 {
  background-color: #f7f5ff;
  padding-block: 80px 68px;
}

#sec4 .contentHeading {
  margin-bottom: 50px;
}

#sec4 .boxes {
  display: flex;
  flex-flow: column wrap;
}

#sec4 .boxes .box {
  padding: 20px 0;
  color: #333;
  width: 100%;
}

#sec4 .boxes .box:hover img {
  transform: scale(1.03);
}

#sec4 .boxes .box .inner {
  background-color: white;
  padding: 25px;
  border: 2px solid #e5e7eb;
  border-radius: 16px;
  position: relative;
}

#sec4 .boxes .box .inner .type {
  position: absolute;
  top: 45px;
  left: 45px;
  background-color: #00bba7;
  color: white;
  padding: 5px 10px;
  border-radius: 999px;
  z-index: 80;
}

#sec4 .boxes .box .inner .type-2 {
  background-color: #00c950;
}

#sec4 .boxes .box .inner .type-3 {
  background-color: #00b8db;
}

#sec4 .boxes .box .inner .type-4 {
  background-color: #ff6900;
}

#sec4 .boxes .box .inner img {
  height: 220px;
  border-radius: 20px;
  transition: 0.5s;
}

#sec4 .boxes .box .inner h4 {
  margin-block: 25px 15px;
  font-size: 20px;
}

#sec4 .boxes .box .inner p {
  margin-block: 0 20px;
}

#sec4 .boxes .box .inner .bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#sec4 .boxes .box .inner .bottom span {
  font-size: 24px;
  font-weight: 700;
}

#sec4 .boxes .box .inner .bottom button {
  padding: 12px 18px;
  background-color: #8e51ff;
  border-radius: 999px;
  border: none;
  color: white;
  font-size: 16px;
}

#sec4 .btn button {
  background-color: transparent;
  color: #8e51ff;
  border-color: #8e51ff;
  padding: 20px 35px;
}

#sec4 .btn button:hover {
  color: white;
  border-color: transparent;
  background-color: #8e51ff;
}
/* End sec4 */



/* Start footer */
.footer {
  padding-block: 50px;
  background-color: #101828;
}

.footer .boxes {
  border-bottom: 2px solid #1e2838;
  display: flex;
  flex-flow: wrap column;
  gap: 20px;
  padding-bottom: 25px;
}

.footer .boxes .box {
  color: white;
}

.footer .boxes .box .logo {
  display: flex;
  align-items: center;
}

.footer .boxes .box .logo .image {
  width: 40px;
  height: 40px;
  background-color: #8e51ff;
  border-radius: 7px;
  font-size: 18px;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.footer .boxes .box .logo span {
  font-size: 24px;
  font-weight: 700;
}

.footer .boxes .box-1 p {
  line-height: 26px;
  margin-block: 30px;
}

.footer .boxes .box-1 .links {
  display: flex;
  align-items: center;
  gap: 15px;
}

.footer .boxes .box-1 .links a {
  height: 40px;
  width: 40px;
  background-color: #1e2939;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  transition: 0.3s;
}

.footer .boxes .box-1 .links a:hover {
  background-color: #1877f2;
}

.footer .boxes .box-1 .links .a-2:hover {
  background-color: #1da1f2;
}

.footer .boxes .box-1 .links .a-3:hover {
  background-color: #e4405f;
}

.footer .boxes .box-1 .links .a-4:hover {
  background-color: #ff0000;
}

.footer .boxes .box-2 h4 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 25px;
}

.footer .boxes .box-2 p {
  font-weight: 400;
  margin-bottom: 20px;
  color: #99a1af;
  transition: 0.3s;
}

.footer .boxes .box-2 p:hover {
  color: white;
}

.footer .bottom {
  display: flex;
  flex-flow: column wrap;
}

.footer .bottom p {
  color: white;
  margin-block: 40px 20px;
  font-size: 14px;
  text-align: center;
}

.footer .bottom .payment {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.footer .bottom .payment .img {
  background-color: white;
  height: 45px;
}

.footer .bottom .payment .img {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.footer .bottom .payment .img-1,
.footer .bottom .payment .img-3 {
  width: 80px;
}

.footer .bottom .payment .img-2 {
  width: 50px;
}

.footer .bottom .payment .img-1 img {
  width: 80%;
}

.footer .bottom .payment .img-2 img {
  width: 60%;
}

.footer .bottom .payment .img-3 img {
  width: 50%;
}
/* End footer */